body {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.1em;
}
h2 {
	border-top: 3px solid black;
	margin-top: 0.2em;
	padding: 0.75em 0 0 0;
}
h4 {
	border-top: 1px solid black;
	font-size: 1.2em;
	padding: 0.75em 0 0 0;
}
button {
	font-weight: bold;
}
input[type=text] {
	border-style: none;
	font-size: 1.2em;
	margin-right: 2px;
	text-align: center;
}
label {
	font-weight: bold;
}
ol {
	font-size: 0.9em;
	line-height: 1.2em;
	list-style-position: inside;
	margin-top: 0.25em;
}
ul {
	line-height: 1em;
	list-style-position: inside;
	list-style-type: none;
	margin-top: 0;
	padding-left: 0.4em;
}
table {
	line-height: 1em;
	padding: 0 0 1em 0;
	table-layout: fixed;
}
td {
	border: 1px solid black;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
	vertical-align: top;
}
th {
	border-top: none;
	font-size: 1em;
	text-align: center;
}
.hideme {
	display: none;
}
.custom {
	margin-top: 1em;
}
.customtext {
	border: solid 1px black !important;
	margin-right: 0 !important;
}
.posttable {
	margin-bottom: 1.75em;
}
